*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(93, 5, 151);
}

 .main {
    width: 40%;
    min-height: 40vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#plus{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    
}

#minus{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;

    
}


.center {
    font-size: 2rem;
}